button {
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 4px 5px black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: box-shadow 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:active {
    box-shadow: none;
}
.clicked {
    transform: translate(2px, 2px);
}
