nav {
    background-color: white;
    height: 6vh;
    margin: 0;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#company-logo {
    margin: 2px;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 1s;
}
